<header>
  <div class="centered">
    <h1>GO-PHIP.DE</h1>
    <nav>
      <ul>
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="projects" routerLinkActive="active">Meine Projekte</a></li>
        <li><a routerLink="impressum" routerLinkActive="active">Impressum</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="centered">
  <section>
    <router-outlet></router-outlet>
  </section>
</div>

<footer>&copy; Philipp Schuster {{year}} - <a routerLink="impressum">Impressum</a></footer>
